
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

button, h3, input {
  color: black;
}

body {
  background-color: #00aeef;
}